.carousel-control {
    font-size: 30px;
    margin-top: -100px;
    margin-right: 40px;
    color: gray;
}
// .carousel-control .left {
//     float: left;
// }
// .carousel-control .right {
//     float: right;
// }
.carousel-control-prev {
    float: left;
    margin-left: 35px;
}
.carousel-control-next {
    float: right;
}
.multi-item-carousel {
    .carousel-inner {
      > .item {
        transition: 500ms ease-in-out left;
      }
      .active {
        &.carousel-control-prev {
          left: 16.67%;
        }
        &.carousel-control-next {
          left: 16.67%;
        }
      }
      .next {
        left: 16.67%;
      }
      .prev {
        left: -16.67%;
      }
      @media all and (transform-3d), (-webkit-transform-3d) {
        > .item {
          // use your favourite prefixer here
          transition: 500ms ease-in-out left;
          transition: 500ms ease-in-out all;
          backface-visibility: visible;
          transform: none!important;
        }
      }
    }
    .carouse-control {
      &.carousel-control-prev, &.carousel-control-next {
        background-image: none;
      }
    }
}