
// common
$cl-white: #ffffff;
$cl-black: #000;
$cl-transparent: rgba(0, 0, 0, 0);


// header
$cl-header-bg: white;
$cl-header-text: #f95669;

//banner
$cl-banner-text: white;
$cl-hover-item: #f7f7f9;
$cl-search-bg: #f95669;