@import 'abstracts/variables';
.btn-search {
  position: relative;
  float: right;
  margin: 30px -600px 0 0 ;
  font-size: 15px;
  height: 40px;
  width: 40px;
  line-height: 40px;
  color: #f95669;
  border: 1px solid #f95669;
  border-radius: 3px;
  text-align: center;
}
.fa {
  display: inline-block;
}
.fa-search::before {
  content: "\f002";
}