.logo {
    position: relative;
    top: 30px;
    left: 100px;
    color: $cl-header-text;
    border-style: solid;
    border-width: medium;
    font-size: 35px;
    text-decoration: none;
    font-weight: bold;
}